body {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

canvas {
    display: none;
    background-color: black;
}

.start-screen {
    display: block;
    width: 720px; 
    height: 480px;
    background-image: url('img/9.Intro _ Outro Image/Start Screen/Opción 1.png');
    object-fit: cover;
    background-size: 100%;
    display: flex;
    align-items: flex-end;
}

.bottom-div {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #994409;
    padding: 5px 15px 10px 15px;;
}

.start-button {
    height: 62px;
    width: 190px;
    color: #ffcb00;
    text-shadow: 2px 3px 0px rgba(105, 58, 0, 0.8);
    background: radial-gradient(circle, rgb(168, 100, 10) 60%, rgb(206, 110, 7) 100%);
    font-family: 'Old Standard TT', serif;
    font-size: 42px;
    padding-top: 7px;
    box-sizing: border-box;
    border: solid 2px rgba(114, 44, 4, 0.9);
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.start-button:hover {
text-shadow: 1px 1px 0px #ffcb00;
border: solid 1px #ffcb00;
}

.keyboard-img {
    width: 190px;
    height: 70px;
}

.keyboard-img:hover {
    border-radius: 5px;
    background-color: #ffcb00;
    opacity: 0.9;
}

.keyboard-img-big {
    width: 430px;
    height: 180px;
    margin-bottom: 90px;
}

.keyboard-img-big:hover {
    background-color: #ffcb00;;
    opacity: 0.9;
    border-radius: 15px;
}


.fullscreen-img {
    height: 40px;
    margin-top: 30px;
}


